<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace = "com.itwillbs.Mappers.LineMapper">
  
<!--   검색,페이징처리 -->
  <select id="getlineList" resultType="com.itwillbs.domain.LineDTO">
  	select *
  	from line l
  	left join employees e on e.empId = l.lineEmpId
  	where 1=1
  	<if test="search != null and search != ''">
            and (lineCode like concat('%', #{search}, '%') or lineName like concat('%', #{search}, '%') or lineUse like concat('%', #{search}, '%') or lineEmpId like concat('%', #{search}, '%') or lineInsertDate like concat('%', #{search}, '%') or lineProcess like concat('%', #{search}, '%'))
        </if>
  	order by lineCode desc limit #{startRow}, #{pageSize}
  </select>

<!--   페이지 당 라인 갯수 -->
  <select id="getlineCount" resultType="java.lang.Integer">
  	select count(*) from line
  	where 1=1
  	<if test="search != null and search != ''">
            and (lineCode like concat('%', #{search}, '%') or lineName like concat('%', #{search}, '%') or lineUse like concat('%', #{search}, '%') or lineEmpId like concat('%', #{search}, '%') or lineInsertDate like concat('%', #{search}, '%') or lineProcess like concat('%', #{search}, '%'))
        </if>
  </select>
  
<!--   라인등록 -->
  <insert id="insertLine">
  	insert into line(lineCode,lineName,lineUse,lineEmpId,lineInsertDate,lineProcess)
  	values(#{lineCode},#{lineName},#{lineUse},#{lineEmpId},#{lineInsertDate},#{lineProcess})
  </insert>
  
<!--   라인삭제 -->
  <delete id="delete">
        delete from line
        where lineCode = #{lineCode}
  </delete>
  
<!--   라인수정 값 들고오기 -->
  <select id="getLine" resultType="com.itwillbs.domain.LineDTO">
  	select * from line where lineCode = #{lineCode}
  </select>
  
<!--   라인수정하기 -->
  <update id="updateLine">
  	update line set lineCode = #{lineCode}, lineName = #{lineName}, lineUse = #{lineUse}, lineEmpId = #{lineEmpId}, lineInsertDate = #{lineInsertDate}, lineProcess = #{lineProcess}
  	where lineCode = #{lineCode}
  </update>  
  
  </mapper>