<?xml version="1.0" encoding="UTF-8"?>
<!-- https://mybatis.org/mybatis-3/ko/getting-started.html -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  	
<typeAliases>
	<package name="com.itwillbs.domain"/>
</typeAliases>

</configuration>
