@charset "UTF-8";
body {
	background-color: #F5F6FA;
}


h2 {
	display: block; 
	font-size: 25px;
	font-weight: bold;
    text-align: center; 
	margin: 0 0 20px;
}

p {
	font: 500 16px/16px "Inter", sans-serif;
	font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group p {
    flex: 1;
    margin-right: -50px;
}

.form-group input[type="text"] {
    flex: 2;
}
.form-group input[type="number"] {
    flex: 2;
}
.form-group input[type="password"] {
    flex: 2;
}
.form-group input[type="email"] {
    flex: 2;
}
.form-group input[type="date"], .form-group select {
    flex: 2;
}

#button{
	text-align: center;
}

input[type="text"] {
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="number"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="password"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="email"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="tel"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="date"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

textarea{
	width: 100%;
	resize: none;
	border: 1px solid #adb5bb;
	border-radius: 5px;
	font: 500 15px/15px "Inter", sans-serif;
}

input[type="button"], input[type="submit"]{
background-color:rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
	width:100px;
	height:40px;
	border-radius:5px;
	color: #FFFFFF;
	border: 0;
	text-align: center;
	font: 500 20px/20px "Inter", sans-serif;
	margin-top: 20px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer; 
}


.container {
    max-width: 600px;
    border: 1px solid rgba(221, 221, 221, 0.78); /* 테두리 설정 */
    padding: 20px;
}
/* 비고 글자 */
.memo{
	text-align: center;
	margin-bottom: 10px;
}

.select {
    border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
}

#upload-button {
	color: white;
    background-color: #9AC5F4;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    text-align: center;
    font: 500 20px/20px "Inter", sans-serif;
    margin-top: 0px;
    margin-right: 10px;
    cursor: pointer;
}
#delete-button {
    color: white;
    background-color: #9AC5F4;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    text-align: center;
    font: 500 20px/20px "Inter", sans-serif;
    margin-top: 0px;
    margin-right: 2px;
    cursor: pointer;
}

#save-button {
    color: white;
    background-color: #9AC5F4;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    text-align: center;
    font: 500 20px/20px "Inter", sans-serif;
    margin-top: 20px;
    cursor: pointer;
}

span {
margin-left : 110px;
color: red;	
	}

#empNamemsg,#empEmailmsg,#empTelmsg {
    position: absolute;
    top: -10px;
}





